LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "TXD" SITE "B9";
LOCATE COMP "RXD" SITE "A9";

IOBUF PORT "TXD" IO_TYPE=LVCMOS33;
IOBUF PORT "RXD" IO_TYPE=LVCMOS33;

LOCATE COMP "HS_" SITE "R8";
LOCATE COMP "VS_" SITE "R7";

IOBUF PORT "HS_" IO_TYPE=LVCMOS33;
IOBUF PORT "VS_" IO_TYPE=LVCMOS33;

LOCATE COMP "R" SITE "D5";
LOCATE COMP "G" SITE "C4";
LOCATE COMP "B" SITE "D4";

IOBUF PORT "R" IO_TYPE=LVCMOS33;
IOBUF PORT "G" IO_TYPE=LVCMOS33;
IOBUF PORT "B" IO_TYPE=LVCMOS33;
