LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "TXD" SITE "B9";
LOCATE COMP "RXD" SITE "A9";

IOBUF PORT "TXD" IO_TYPE=LVCMOS33;
IOBUF PORT "RXD" IO_TYPE=LVCMOS33;
