LOCATE COMP "CLK" SITE "A9";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "RGB_[0]" SITE "K4";
LOCATE COMP "RGB_[1]" SITE "M3";
LOCATE COMP "RGB_[2]" SITE "J3";

IOBUF PORT "RGB_[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "RGB_[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "RGB_[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "RST_" SITE "V17";
IOBUF PORT "RST_" IO_TYPE=LVCMOS33;

LOCATE COMP "BTN_" SITE "J17";
IOBUF PORT "BTN_" IO_TYPE=SSTL135_I;

LOCATE COMP "TXD" SITE "M18";
LOCATE COMP "RXD" SITE "N17";

IOBUF PORT "TXD" IO_TYPE=LVCMOS33;
IOBUF PORT "RXD" IO_TYPE=LVCMOS33;

LOCATE COMP "MISO" SITE "N15";
IOBUF PORT "MISO" IO_TYPE=LVCMOS33;
